lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.DS_Store

client/lib/bower_components/
client/data/
server/node_modules/
tiles_server/node_modules/
server/data
